src/dtd/scarab.dtd

<!ELEMENT scarab (module+)>

<!ELEMENT module (parent-module, fullname, code, issue+)>
<!ATTLIST module id CDATA #REQUIRED>

<!ELEMENT issue (artifact-type, attribute+, dependency*, attachment*, transaction?)>
<!ATTLIST issue id CDATA #REQUIRED>

<!ELEMENT attribute (name, value, type?, old-value?)>

<!ELEMENT dependency (type, (child | parent))>

<!ELEMENT attachment (name, type, path, mimetype, modified-date, created-by, modified-by)>

<!ELEMENT transaction (type, activity+)>
<!ATTLIST transaction id CDATA #REQUIRED>

<!ELEMENT activity (attribute, description)>

<!ELEMENT parent-module (#PCDATA)>
<!ELEMENT fullname (#PCDATA)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT artifact-type (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT old-value (#PCDATA)>
<!ELEMENT child (#PCDATA)>
<!ELEMENT parent (#PCDATA)>
<!ELEMENT path (#PCDATA)>
<!ELEMENT mimetype (#PCDATA)>
<!ELEMENT modified-date (#PCDATA)>
<!ELEMENT created-by (#PCDATA)>
<!ELEMENT modified-by (#PCDATA)>
<!ELEMENT description (#PCDATA)>
