src/dtd/scarab.dtd

<!ELEMENT activities ( activity+ ) >
<!ELEMENT activity ( attribute | description | id | new-option | new-value | old-option | old-value )* >
<!ELEMENT activity-set ( id, type, created-by, created-date, activities, attachment? ) >
<!ELEMENT activity-sets ( activity-set+ ) >
<!ELEMENT artifact-type ( #PCDATA ) >
<!ELEMENT attachment ( id, name, type, filename, data, mimetype, created-date, modified-date, created-by, modified-by ) >
<!ELEMENT attribute ( #PCDATA ) >
<!ELEMENT child ( #PCDATA ) >
<!ELEMENT code ( #PCDATA ) >
<!ELEMENT created-by ( #PCDATA ) >
<!ELEMENT created-date ( format, timestamp ) >
<!ELEMENT data ( #PCDATA ) >
<!ELEMENT dependencies ( dependency+ ) >
<!ELEMENT dependency ( type, child, parent? ) >
<!ELEMENT description ( #PCDATA ) >
<!ELEMENT domain EMPTY >
<!ELEMENT filename ( #PCDATA ) >
<!ELEMENT format ( #PCDATA ) >
<!ELEMENT id ( #PCDATA ) >
<!ELEMENT import-type ( #PCDATA ) >
<!ELEMENT issue ( id, artifact-type, activity-sets, dependencies* ) >
<!ELEMENT issues ( issue+ ) >
<!ELEMENT mimetype ( #PCDATA ) >
<!ELEMENT modified-date ( format, timestamp ) >
<!ELEMENT module ( id, parent-id, name, owner, description, url, domain, code ) >
<!ELEMENT name ( #PCDATA ) >
<!ELEMENT new-option ( #PCDATA ) >
<!ELEMENT new-value ( #PCDATA ) >
<!ELEMENT old-option ( #PCDATA ) >
<!ELEMENT old-value ( #PCDATA ) >
<!ELEMENT owner ( #PCDATA ) >
<!ELEMENT parent ( #PCDATA ) >
<!ELEMENT parent-id ( #PCDATA ) >
<!ELEMENT scarab-issues ( import-type, module, issues+ ) >
<!ELEMENT timestamp ( #PCDATA ) >
<!ELEMENT type ( #PCDATA ) >
<!ELEMENT url EMPTY >
