src/dtd/scarab.dtd

<!ELEMENT scarab (user*, module+)>

<!ELEMENT user (firstname, lastname, email)>

<!ELEMENT module (name, code, issue+)>
<!ATTLIST module id CDATA #REQUIRED>
<!ATTLIST module parent CDATA #REQUIRED>

<!ELEMENT issue (artifact-type, committed-by, issue-attribute+, dependency*, attachment*, transaction?)>
<!ATTLIST issue id CDATA #REQUIRED>

<!ELEMENT issue-attribute (name, value, type)>

<!ELEMENT dependency (type, (child | parent))>

<!ELEMENT attachment (name, type, path?, data, mimetype, created-date, modified-date, created-by, modified-by)>

<!ELEMENT modified-date (#PCDATA)>
<!ATTLIST modified-date format CDATA #REQUIRED>

<!ELEMENT created-date (#PCDATA)>
<!ATTLIST created-date format CDATA #REQUIRED>

<!ELEMENT transaction (type, committed-by, activity+)>
<!ATTLIST transaction id CDATA #REQUIRED>

<!ELEMENT activity (activity-attribute, description)>

<!ELEMENT activity-attribute (name, value, old-value, type)>

<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT artifact-type (#PCDATA)>
<!ELEMENT committed-by (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT old-value (#PCDATA)>
<!ELEMENT child (#PCDATA)>
<!ELEMENT parent (#PCDATA)>
<!ELEMENT path (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT mimetype (#PCDATA)>
<!ELEMENT modified-by (#PCDATA)>
<!ELEMENT created-by (#PCDATA)>
<!ELEMENT description (#PCDATA)>
