src/dtd/scarab.dtd

<!ELEMENT scarab (module+)>

<!ELEMENT module (name, code, issue+)>
<!ATTLIST module id CDATA #REQUIRED>
<!ATTLIST module parent CDATA #REQUIRED>

<!ELEMENT issue (artifact-type, issue-attribute+, dependency*, attachment*, transaction?)>
<!ATTLIST issue id CDATA #REQUIRED>

<!ELEMENT issue-attribute (name, value, type)>

<!ELEMENT dependency (type, (child | parent))>

<!ELEMENT attachment (name, type, path, mimetype, modified-date, created-by, modified-by)>

<!ELEMENT transaction (type, activity+)>
<!ATTLIST transaction id CDATA #REQUIRED>

<!ELEMENT activity (activity-attribute, description)>

<!ELEMENT activity-attribute (name, value, old-value)>

<!ELEMENT code (#PCDATA)>
<!ELEMENT artifact-type (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT old-value (#PCDATA)>
<!ELEMENT child (#PCDATA)>
<!ELEMENT parent (#PCDATA)>
<!ELEMENT path (#PCDATA)>
<!ELEMENT mimetype (#PCDATA)>
<!ELEMENT modified-date (#PCDATA)>
<!ELEMENT created-by (#PCDATA)>
<!ELEMENT modified-by (#PCDATA)>
<!ELEMENT description (#PCDATA)>
