src/dtd/scarab.dtd

<!ELEMENT scarab (module+)>

<!ELEMENT module (name, owner-id, url*, domain*, description, code, issue*)>
<!ATTLIST module id CDATA #IMPLIED>
<!ATTLIST module parent CDATA #IMPLIED>
  <!ELEMENT owner-id (#PCDATA)>
  <!ELEMENT url (#PCDATA)>
  <!ELEMENT domain (#PCDATA)>

<!ELEMENT issue (artifact-type, activity-set+, dependency*, attachment*)>
<!ATTLIST issue id CDATA #REQUIRED>

<!ELEMENT dependency (type, (child | parent))>

<!ELEMENT attachment (name, type, (path | data), mimetype, created-date, modified-date, created-by, modified-by)>
  <!ELEMENT modified-date (#PCDATA)>
  <!ATTLIST modified-date format CDATA #REQUIRED>

  <!ELEMENT created-date (#PCDATA)>
  <!ATTLIST created-date format CDATA #REQUIRED>

<!ELEMENT activity-set (type, committed-by, created-date, attachment*, activity+)>
<!ATTLIST activity-set id CDATA #REQUIRED>

<!ELEMENT activity (attribute, description, end-date)>

<!ELEMENT attribute (name, value, old-value?, type)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT artifact-type (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT child (#PCDATA)>
<!ELEMENT parent (#PCDATA)>
<!ELEMENT path (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT mimetype (#PCDATA)>
<!ELEMENT created-by (#PCDATA)>
<!ELEMENT modified-by (#PCDATA)>
<!ELEMENT committed-by (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT end-date (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT old-value (#PCDATA)>
