src/addressbook/core/org/columba/addressbook/config/addressbook.dtd

<?xml version='1.0' encoding='us-ascii'?>
<!-- DTD for configuration file". -->


<!ELEMENT addressbooklist ( addressbook*, directory* )>
<!ELEMENT addressbook ( name, uid, list )>
<!ELEMENT list (contact*, group*)>
<!ELEMENT group (name, uid, grouplist)>
<!ELEMENT contact (address, firstname, lastname, uid)>
<!ELEMENT grouplist ( uid* ) >

<!ELEMENT address (CDATA)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT uid (#PCDATA)>



