src/sql/scarab-data.dtd

<!ELEMENT dataset (
    Activity*,
    Attachment*,
    AttachmentType*,
    Attribute*,
    AttributeClass*,
    AttributeOption*,
    OptionRelationship*,
    AttributeType*,
    Depend*,
    DependType*,
    Issue*,
    AttributeValue*,
    Modification*,
    Module*,
    RModuleAttribute*,
    RModuleOption*,
    ROptionOption*,
    RModuleUserRole*,
    Transaction*,
    AttributeVote*,
    Word*,
    RIssueWord*,
    ScarabUser*)>
<!ATTLIST dataset
    name CDATA #REQUIRED
>

<!ELEMENT Activity EMPTY>
<!ATTLIST Activity
    IssueId CDATA #REQUIRED
    AttributeId CDATA #REQUIRED
    TransactionId CDATA #REQUIRED
    OldValue CDATA #IMPLIED
    NewValue CDATA #IMPLIED
>

<!ELEMENT Attachment EMPTY>
<!ATTLIST Attachment
    AttachmentId CDATA #REQUIRED
    IssueId CDATA #IMPLIED
    TypeId CDATA #REQUIRED
    Name CDATA #REQUIRED
    Data CDATA #IMPLIED
    FilePath CDATA #IMPLIED
    MimeType CDATA #REQUIRED
    ModifiedBy CDATA #IMPLIED
    CreatedBy CDATA #IMPLIED
    ModifiedDate CDATA #IMPLIED
    CreatedDate CDATA #IMPLIED
    Deleted CDATA #IMPLIED
>

<!ELEMENT AttachmentType EMPTY>
<!ATTLIST AttachmentType
    AttachmentTypeId CDATA #REQUIRED
    Name CDATA #REQUIRED
>

<!ELEMENT Attribute EMPTY>
<!ATTLIST Attribute
    AttributeId CDATA #REQUIRED
    Name CDATA #REQUIRED
    TypeId CDATA #REQUIRED
    RequiredOptionId CDATA #IMPLIED
    Deleted CDATA #IMPLIED
>

<!ELEMENT AttributeClass EMPTY>
<!ATTLIST AttributeClass
    AttributeClassId CDATA #REQUIRED
    Name CDATA #REQUIRED
    Desc CDATA #REQUIRED
    JavaClassName CDATA #IMPLIED
>

<!ELEMENT AttributeOption EMPTY>
<!ATTLIST AttributeOption
    OptionId CDATA #REQUIRED
    AttributeId CDATA #REQUIRED
    Name CDATA #REQUIRED
    NumericValue CDATA #IMPLIED
    Deleted CDATA #IMPLIED
>

<!ELEMENT OptionRelationship EMPTY>
<!ATTLIST OptionRelationship
    RelationshipId CDATA #REQUIRED
    Name CDATA #REQUIRED
>

<!ELEMENT AttributeType EMPTY>
<!ATTLIST AttributeType
    AttributeTypeId CDATA #REQUIRED
    ClassId CDATA #REQUIRED
    Name CDATA #REQUIRED
    JavaClassName CDATA #IMPLIED
    ValidationKey CDATA #IMPLIED
>

<!ELEMENT Depend EMPTY>
<!ATTLIST Depend
    ObservedId CDATA #REQUIRED
    ObserverId CDATA #REQUIRED
    TypeId CDATA #REQUIRED
    Deleted CDATA #IMPLIED
>

<!ELEMENT DependType EMPTY>
<!ATTLIST DependType
    DependTypeId CDATA #REQUIRED
    Name CDATA #REQUIRED
>

<!ELEMENT Issue EMPTY>
<!ATTLIST Issue
    IssueId CDATA #REQUIRED
    IdPrefix CDATA #REQUIRED
    IdCount CDATA #REQUIRED
    IdInstance CDATA #IMPLIED
    ModuleId CDATA #REQUIRED
    ModifiedBy CDATA #IMPLIED
    CreatedBy CDATA #IMPLIED
    ModifiedDate CDATA #IMPLIED
    CreatedDate CDATA #IMPLIED
    Deleted CDATA #IMPLIED
>

<!ELEMENT AttributeValue EMPTY>
<!ATTLIST AttributeValue
    IssueId CDATA #REQUIRED
    AttributeId CDATA #REQUIRED
    OptionId CDATA #IMPLIED
    UserId CDATA #IMPLIED
    Value CDATA #IMPLIED
    Deleted CDATA #IMPLIED
>

<!ELEMENT Modification EMPTY>
<!ATTLIST Modification
    TableId CDATA #REQUIRED
    ColumnId CDATA #REQUIRED
    ModifiedBy CDATA #IMPLIED
    CreatedBy CDATA #IMPLIED
    ModifiedDate CDATA #IMPLIED
    CreatedDate CDATA #IMPLIED
>

<!ELEMENT Module EMPTY>
<!ATTLIST Module
    ModuleId CDATA #REQUIRED
    Name CDATA #REQUIRED
    Code CDATA #REQUIRED
    Description CDATA #REQUIRED
    Url CDATA #IMPLIED
    ParentId CDATA #REQUIRED
    OwnerId CDATA #REQUIRED
    QaContactId CDATA #REQUIRED
    Deleted CDATA #IMPLIED
>

<!ELEMENT RModuleAttribute EMPTY>
<!ATTLIST RModuleAttribute
    ModuleId CDATA #REQUIRED
    AttributeId CDATA #REQUIRED
    DisplayValue CDATA #REQUIRED
    Active CDATA #IMPLIED
    Required CDATA #IMPLIED
    PreferredOrder CDATA #REQUIRED
    Dedupe CDATA #IMPLIED
    QuickSearch CDATA #IMPLIED
>

<!ELEMENT RModuleOption EMPTY>
<!ATTLIST RModuleOption
    ModuleId CDATA #REQUIRED
    OptionId CDATA #REQUIRED
    DisplayValue CDATA #IMPLIED
    Active CDATA #IMPLIED
    Order CDATA #IMPLIED
>

<!ELEMENT ROptionOption EMPTY>
<!ATTLIST ROptionOption
    Option1Id CDATA #REQUIRED
    Option2Id CDATA #REQUIRED
    RelationshipId CDATA #REQUIRED
    Deleted CDATA #IMPLIED
>

<!ELEMENT RModuleUserRole EMPTY>
<!ATTLIST RModuleUserRole
    ModuleId CDATA #REQUIRED
    UserId CDATA #REQUIRED
    RoleId CDATA #REQUIRED
    Deleted CDATA #IMPLIED
>

<!ELEMENT Transaction EMPTY>
<!ATTLIST Transaction
    TransactionId CDATA #REQUIRED
    CreatedBy CDATA #IMPLIED
    CreatedDate CDATA #IMPLIED
>

<!ELEMENT AttributeVote EMPTY>
<!ATTLIST AttributeVote
    IssueId CDATA #REQUIRED
    AttributeId CDATA #REQUIRED
    UserId CDATA #REQUIRED
    OptionId CDATA #IMPLIED
>

<!ELEMENT Word EMPTY>
<!ATTLIST Word
    WordId CDATA #REQUIRED
    Word CDATA #REQUIRED
    Rating CDATA #REQUIRED
    Ignored CDATA #IMPLIED
>

<!ELEMENT RIssueWord EMPTY>
<!ATTLIST RIssueWord
    IssueId CDATA #REQUIRED
    AttributeId CDATA #REQUIRED
    WordId CDATA #REQUIRED
    Occurences CDATA #REQUIRED
    Position CDATA #REQUIRED
>

<!ELEMENT ScarabUser EMPTY>
<!ATTLIST ScarabUser
    UserId CDATA #REQUIRED
>

